/* 4. Product List Css */
a.mks_button.mks_button_medium {
    padding: 10px 30px;
    min-width: 100px;
    text-align: center;
}
.mks_button.rounded, .mks_dropcap.mks_dropcap_rounded, .mks_ico.rounded, .mks_progress_level, .mks_pullquote, a.mks_button {
    border-radius: 4px;
}
a.mks_button {
    font-size: 16px;
    line-height: 22px;
}
a.mks_button {
    display: inline-block;
    text-decoration: none;
    line-height: 18px;
    position: relative;
    margin: 0 10px 10px 0;
    color: #FFFFFF;
    background-color: #FA5B0F;
    border: 1px solid transparent;
    transition: background 1s ease 0s;
    -webkit-transition: background 1s ease 0s;
    -moz-transition: background 1s ease 0s;
    -o-transition: background 1s ease 0s;
}

/* 4. Product List Css */
.product-list-main-contatiner {
    padding: 90px 0;
    background-color: #f7f7f7;
}
.products-list-inner-container {
    background-color: #fff;
    padding-top: 15px;
    width: 100%;
    float: left;
    border-radius: 4px;
}
.products-right-container {
    width: 250px;
    float: right;
}
.related-product {
    display: inline-block;
    width: 100%;
}
.products-right-container .post-one-inner{
    margin: 15px 0;
}
.products-list-inner-container > h1, .products-list-inner-container >  h4{
    text-align: center;
}
.serial-no {
    width: 30%;
    float: left;
    text-align: center;
}
.like-unlike {
    padding-bottom: 10px;
}
.like-unlike img{
    width: 30px;
    margin: 0 5px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: 0.4s all ease;
    cursor: pointer;
}
.like-unlike img:hover, .like-unlike img.active{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transition: 0.4s all ease;
}
.unlike {
    transform: rotate(180deg);
}
.serial-no p{
    font-size: 14px;
    color: #aaa;
}
.product-img {
    width: 70%;
    float: left;
    padding: 0 15px;
    text-align: center;
}
li:not(.heading) .product-img{
    min-height:120px;
}
.product-img img{
    max-width: 100%;
    max-height: 150px;
}
.products-list-inner-container li{
    position: relative;
    display: flex;
    width: 100%;
    padding: 15px;
}
.products-list-inner-container li:after{
    content: '';
    background-color: #ccc;
    height: 1px;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.products-list-inner-container li.heading:after, .products-list-inner-container li:last-of-type:after {
    display: none;
}
.company-name {
    width: 100%;
    float: left;
    height: 100%;
    text-align: center;
}
.company-name h4{
    margin: 0;
    position: relative;
    width: 100%;
}
.product-detail {
    width: calc(100% - 80px);
    text-align: left;
    padding: 0 15px;
    position: relative;
}
.product-detail h4 a{
    color: #2f9bdb;
}
.product-detail-inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 30px);
}
.products-list-inner-container a{
    text-decoration: none;
    color: #9c00ff;
}
.post-rating {

    background: url(../images/star.png) repeat-x;
    height: 15px;
    width: 75px;
    display: none;
}
.post-current-rating {
    display: block;
    background: url(../images/stars.png) repeat-x;
    height: 15px;
}
.product-review .post-rating{
    float: left;
    margin-right: 15px;
}
.product-review h5{
    float: left;
    margin: 0;
}
.product-score {
    text-align: center;
    width: 80px;
    float: left;
    position: relative;
}
.product-score .score{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.product-score .score strong{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
.product-button {
    width: 100%;
    float: right;
    position: relative;
    display: inline-block;
    margin-top: 15px;
}
.product-button a{
    background-color: red;
    border: transparent 1px solid;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.4s all ease-out;
    outline: none;
}
.product-button a:hover{
    background-color: #fff;
    border: #2f9bdb 1px solid;
    color: red;
    transition: 0.4s all ease-out;
}
.product-score h3{
    margin: 0;
    font-size: 15px;
    position: relative;
    color: white;
}

.product-img h3{
    margin: 0;
    font-size: 15px;
    position: relative;
    color: white;
}
.product-detail h3{
    margin: 0;
    font-size: 15px;
    position: relative;
    color: white;
}
.product-score h3:before{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: solid 10px #2f9bdb;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    transform: translateX(-50%);
}
.products-list-inner-container .heading{
    background-color: #2f9bdb;
    padding: 15px;
    color: #fff;
}
.products-list-inner-container ul {
    padding-top: 25px;
    margin: 0 0 0 0;
}
.product-list-main-contatiner .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}
.product-detail-inner h4{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.more-image-desc:hover,.more-image-desc:focus,.a-more-image:focus,.a-more-image:hover{
    text-decoration: none !important;
}
.more-image-desc{
    background: #f00;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    max-width: 200px;
    margin: 0 auto;
    text-decoration: none;
    display: block;
}
.product-left {
    width: 40%;
    float: left;
}
.product-right {
    width: 60%;
    float: left;
    display: flex;
}
.product-review {
    display: inline-block;
    width: 100%;
}
.product-score1 {
    display: none;
}
.only-mobile {
    display: none;
}
.product-guide-container > h1, .product-guide-container > h4 {
    text-align: center;
}
.product-guide-container > ul{
    list-style: disc;
}
.product-guide-container > li{
    font-size: 16px;
    margin: 10px 0;
}
.product-guide-container  p {
    text-align: justify;
    font-size: 16px;
}
.product-guide-container {
    padding: 25px;
}
.product-guide-container h2{
    font-size: 26px;
    font-weight: bold;
}
.product-guide-panel .panel-title .collapsed img {
    transform: rotate(0deg);
    transition: 0.4s all ease;
}
.product-guide-panel .panel-title img {
    transform: rotate(180deg);
    width: 20px;
    float: right;
    transition: 0.4s all ease;
}
.like-unlike-product {
    background: url(../images/heart-svg.svg) no-repeat -32px 0px;
    width: 28px;
    height: 40px;
    margin: 5px auto;
    position: relative;
    cursor: pointer;
    background-size: cover !important;
}
.products-right-container h4{
    background-color: #2f9bdb;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    margin-top: 0px;
}
.like-unlike-product.active {
    background: url(../images/heart-svg.svg) no-repeat 0px 0px;
}
@media (max-width: 990px) {
    .products-right-container {
        width: 100%;
        margin: 10px 0;
    }
    .products-list-inner-container {
        width: 100%;
    }
    .products-right-container .post-one-inner{
        width: calc(25% - 20px);
        margin: 0 10px;
        float: left;
    }
}
@media (max-width: 768px) {
    .products-list-inner-container .heading {
        display: none;
    }
    .serial-no {
        display: none;
    }
    .company-name {
        display: none;
    }
    .product-left {
        width: 30%;
    }
    .product-img {
        width: 100%;
        padding: 0 5px;
    }
    .product-right {
        width: 70%;
        float: left;
        display: inline-block;
    }
    .product-detail {
        width: 100%;
    }
    .product-detail-inner {
        position: relative;
        top: initial;
        transform: translateY(0%);
        width: 100%;
        display: inline-block;
    }
    .product-detail {
        width: 100%;
        padding: 0 5px;
    }
    .products-list-inner-container li {
        padding: 0px;
    }
    .product-list-main-contatiner .container {
        padding: 0px;
    }
    .products-list-inner-container ul {
        box-shadow: none;
    }
    .product-list-main-contatiner > div > h1 {
        font-size: 24px;
    }
    .product-list-main-contatiner > div > h4 {
        font-size: 14px;
    }
    .product-list-main-contatiner {
        padding-top: 55px;
    }
    .product-detail-inner h4 {
        font-size: 14px;
    }
    .product-detail-inner h5 {
        font-size: 10px;
    }
    .product-score {
        display: none;
    }
    .product-score1 {
        position: absolute;
        bottom: 5px;
        right: 5px;
        display: inline-block;
    }
    .score1 strong {
        position: absolute;
        top: 47%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        left: 0px;
    }
    .product-button {
        width: 100%;
        float: left;
        position: relative;
        margin: 5px 0px 10px 0px;
    }
    .product-button button {
        position: relative;
        top: 0%;
        transform: translateY(0%);
    }
    .products-list-inner-container li:after {
        width: 100%;
    }
    .like-unlike img {
        width: 20px;
    }
    .only-mobile {
        display: inline-block;
    }
    .product-list-main-contatiner {
        padding: 55px 0;
    }
    .like-unlike {
        padding-bottom: 5px;
    }
    .product-img p{
        font-size: 10px;
        width: 100%;
    }
    .products-right-container .post-one-inner{
        width: calc(50% - 20px);
        margin: 10px 10px;
        float: left;
    }
    .product-review {
        display: inline-block;
        width: calc(100% - 55px);
        float: left;
    }
    .products-right-container h4{
        background-color: transparent;
        color: #000;
        padding: 0px 0;
        text-align: center;
        border-radius: 0px;
        font-size: 30px;
        margin-top: 20px;
    }
    .fixed-social-main-conatiner {
        display: none;
    }
}
@media (max-width: 500px) {
    .products-right-container .post-one-inner{
        width: calc(100% - 30px);
        margin: 10px 15px;
        float: left;
    }
}
@media (max-width: 440px) {
    .product-button a{
        font-size:12px;
    }
}

@media (max-width: 395px) {
    .product-button a{
        white-space:nowrap;
    }
    .product-score1{
        bottom:38px;
    }
}