#sidebar{
	display: none;
}
.stnd-table a:hover{ text-decoration: none; }
.stnd-table tr td{ border-bottom: 1px solid #c1c6c9; }
.stnd-table .button-block .compare-drop-holder {
	text-align: center;
	position: relative;
	font-size: 13px;
	line-height: 18px;
	color: #1f334a;
	font-weight: 400;
}
.get-deal {
	position: relative;
}
.view-product-btn {
	display: inline-block;
	padding: 12px 25px;
}
.btn-sample {
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding: 9px 16px;
	background: #e01010;
	font-weight: 100;
	border:1px solid transparent;
	border-radius:2px;
}

.btn-sample:hover, .btn-sample:active, .btn-sample.active, .open .dropdown-toggle.btn-sample {
	background: transparent;
	border:1px solid #e01010;
	color: #e01010;
}
.cmprb_list__product-partial {
	border-bottom: 1px solid #c1c6c9;
}
.stnd-table>tbody>tr {
	height: 130px;
}
.stnd-table,.stnd-table td {border:none;}
.stnd-table>thead {
	border: 0
}

.stnd-table>thead>tr {
	border: 0
}

.stnd-table>tbody>tr {
	height: 130px
}

.stnd-table>thead>tr>th {
	border: 0;
	position: relative;
	vertical-align: middle;
}

.stnd-table td{ vertical-align: middle; padding: 0; }
.cmprb_ribbon {
	position: absolute;
	left: 3px;
	top: 0;
	z-index: 1;
}
.number {
	color: #335466;
	text-align: center;
	vertical-align: top;
}
.product-name-td {
	width: 100%;
	height: 100%;
	padding: 7px 35px 7px 23px;
}
.stnd-table img {
	border-style: none;
	vertical-align: top;
}
.stnd-table>thead>tr>th>h5 {
	font-weight: 100;
	font-size: 16px;
	text-transform: capitalize;
	margin:0;
	text-align: center;
}
.stnd-table>thead>tr>th>h5 .stht-text-inner{ color: #fff; }


.sorted_DESC {
	background: #4dcfdc!important;
	color: #fff
}

.stnd-table .arrow {
	position: absolute;
	top: 43px;
	display: none;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 1;
	text-align: center;
}

.stnd-table .rating-row {
	font-size: 14px
}

.stnd-table .count {
	padding-top: 3.5px
}
.srp-brand-cell {
	text-align: center;
	word-break: break-all;
}
.srp-brand-cell>a {
	width: 90px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	color: #303030;
}
@media screen and (max-width:767px) {
	.stnd-table-header {
		display: none
	}
}

table.first_place_badge_table.stnd-table tr {
	border: 1px solid #f0f1f4!important
}

table.first_place_badge_table.stnd-table tr td:first-child>span {
	left: 20px!important
}

table.first_place_badge_table.stnd-table tr.first_place_badge {
	position: relative
}

table.first_place_badge_table.stnd-table tr.first_place_badge td:first-child>span {
	display: none!important
}

table.first_place_badge_table.stnd-table tr.first_place_badge td:first-child:before {
	background-image: url(/assets/comparaboo/first-placex2-ded1e4b05ec240df9caae9e93c58e0be3f2c9dd4d55fe976a4c0a8609d34cd7a.png);
	background-size: 74px 50px;
	color: #fff;
	content: "#1";
	display: block;
	font-size: 30px;
	width: 74px;
	height: 50px;
	left: -12px;
	line-height: 40px;
	position: absolute;
	top: 18px;
	text-align: center
}

table.first_place_badge_table.stnd-table tr.first_place_badge td:first-child .number {
	visibility: hidden
}

.cmprb_tooltip {
	-webkit-box-shadow: 0 0 10px 0 #ccc;
	box-shadow: 0 0 10px 0 #ccc;
	background: #fff;
	border-radius: 10px;
	bottom: 100%;
	color: #335466;
	display: none;
	font-weight: 300;
	left: 50%;
	margin: 0 0 25px -125px;
	padding: 20px 15px;
	position: absolute;
	text-align: center;
	width: 250px
}

.cmprb_tooltip__title {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 15px
}

.cmprb_tooltip__content {
	font-size: 13px;
	line-height: 18px
}

.cmprb_tooltip:after {
	-webkit-box-shadow: -3px 3px 3px 0 #eee;
	box-shadow: -3px 3px 3px 0 #eee;
	border-color: transparent transparent #fff #fff;
	border-style: solid;
	border-width: 10px;
	content: '';
	height: 0;
	left: 50%;
	margin: 0 0 0 -10px;
	position: absolute;
	top: 100%;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 0
}

.cmprb_tooltip-container {
	cursor: pointer;
	cursor: hand
}

.cmprb_tooltip-container .sortExplainText {
	display: none
}

.cmprb_tooltip-container:hover .cmprb_tooltip {
	display: block
}
.srp-listing-name {
	height: 40px;
	overflow: hidden;
	font-size: 18px;
	line-height: 1.2
}
.stan_buy_name{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.stan_buy_name a{ color: #303030;}
@media(max-width:767px) {
	.srp-listing-name {
		line-height: 1.5
	}
}

@media screen and (min-width:767px) and (max-width:992px) {
	#list-table-responsive {
		margin: 0 -60px 30px
	}
	.srp-listing-name {
		font-size: 16px
	}
	.sorted-score {
		cursor: auto!important
	}
	.srp-button {
		padding: 0 10px
	}
	.srp-button .btn-sample {
		font-size: 14px
	}
}

@media screen and (max-width:767px) {

	.srp-listing-name {
		font-size: 14px
	}
	.socials-popup-holder {
		display: none
	}
	.product-name-td {
		padding: 7px 5px
	}
	.sorted-score {
		cursor: auto!important
	}
	.stnd-table-header {
		display: none
	}
	.image-list-tag {
		max-height: 80px!important;
		max-width: 100px!important
	}


}
@media screen and (min-width: 992px){
	.srp-title-cell {
		max-width: 180px;
		overflow: hidden;
	}
}
.canvas {
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 80px;
	position: relative;
}
svg.pie {
	width: 100%;
	height: 100%;
	overflow: visible;
}
.canvas svg.circle-value-rating path {
	stroke-width: 1;
}
rating-holder:hover .circle-value-rating path, .rating-holder-expand .circle-value-rating path, .circle-active.circle-value-rating path {
	stroke: #20344b;
}
.circle-value-rating path {
	stroke: #20344b;
}
.pie path {
	fill: none;
	stroke-width: 1;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.rating-holder:hover .circle-value-rating+.count, .rating-holder-expand .circle-value-rating+.count, .circle-active.circle-value-rating+.count {
	color: #20344b!important;
}
.stnd-table .count {
	padding-top: 3.5px;
}
.canvas .count {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 70px;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
}
.list_score {
	cursor: pointer;
}
.canvas .count>span {
	font-size: 25px;
	letter-spacing: -2px;
}
.cb_mobile__button {
	display: none;
}
.sorted_DESC {
	background: #3d5274!important;
	color: #fff;
}
@media screen and (max-width:1366px) and (min-width: 767px){
	.srp-button .btn-sample {
		font-size: 14px;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 1024px){
	h1.entry-title {
		width:100%;
	}
}
@media screen and (max-width: 992px) and (min-width: 767px){
	.srp-button {
		padding: 0 10px !important;
	}
}
@media screen and (max-width: 767px){
	.stnd-table-header {
		display: none;
	}
}
@media screen and (max-width: 767px){
	.stnd-table{ border-top:1px solid #c2c2c2; }
	.canvas {
		width: 60px;
		height: 60px;
	}
	.rf_hidden-xs {
		display: none!important;
	}
	.stnd-td.srp-cell.srp-img-cell.centered {
		width: 35px;
		/*border-bottom: none;*/
		z-index: 9;
		/*display: table-caption;*/
		font-size: 10px!important;
	}
	.hideElementLower767 {
		display: none;
	}
	.canvas svg.circle-value-rating path {
		display: none;
	}
	.canvas .count {
		width: 60px;
		height: 60px;
		line-height: 1;
		font-size: 16px;
		padding-top: 17px;
		border-radius: 50%;
		border: 1px solid #436172;
	}
	.cb_mobile__button:hover,
	.cb_mobile__button:focus {
		border-color: #e01010;
		background-color: transparent;
	}
	.cb_mobile__button:hover a,
	.cb_mobile__button:focus a {color:#e01010;}
	.cb_mobile__button {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin: 5px;
		padding: 5px;
		color: #fff;
		font-size: 12px;
		white-space: nowrap;
		background-color: #e01010;
		border:1px solid transparent;
		border-radius: 8px;
	}
	.cb_mobile__button a{
		color: #fff;
		margin: 0 auto;
	}
}
@media screen and (max-width: 768px){
	.number-value {
		margin: -1px 10px;
		font-size: 18px;
		line-height: 1.5;
	}
}
@media (max-width: 1199px){
	.cmprb_ribbon__image {
		height: 48px;
		width: 35px;
	}
}
/* Add By Hardik Start ====*/
.vce-main-content{ width: 100%; }
.vce-main-content .h1.entry-title{ width: 100%; }
.vce-main-content .entry-content{width:calc(100% - 60px) !important; margin: 0 auto; max-width: 100%; }
/* Add By Hardik End ====*/

@media screen and (max-width: 560px){
	.stan_buy_name{ width: 96px; }
}
@media screen and (max-width: 540px){
	.vce-main-content .entry-content{ width: calc(100% - 10px) !important; }
	.stnd_tbl_area{margin:0 -25px;}

}
@media screen and (max-width: 480px){
	.image-list-tag {
		max-height: 60px!important;
		max-width: 80px!important;
	}
}
@media screen and (max-width:380px){
	.canvas,.canvas .count {
		width: 40px;
		height: 40px;
	}
	.vce-main-content .entry-content{
		padding-left: 10px;
		padding-right: 10px;
	}
	.stnd_tbl_area {
		margin: 0 -15px;
	}
	.canvas .count>span {
		font-size: 18px;
		letter-spacing: -2px;
	}
	.canvas .count{    font-size: 12px;
		padding-top: 10px;
	}
	.stnd-table>tbody>tr {
		height: 110px;
	}
}
@media screen and (max-width:340px){
	.image-list-tag {
		max-height:50px!important;
		max-width:70px!important;
	}
	.product-name-td .stan_buy_name span{ font-size: 12px !important; }
}

/*prd images start ====*/
.images_stand_box{ position: relative; }
.images_stand_box .img_stad_squar .btn_stand:before,
.images_stand_box .img_stad_squar .btn_stand:after,
.images_stand_box:before,.images_stand_box:after{content: "";clear: both; display: table;}
.images_stand_box .img_stad_squar{float: left;margin-right: 30px;margin-bottom: 15px;}
.images_stand_box .img_stad_squar img{ max-width:400px; max-height:400px;margin-bottom: 10px; }
.images_stand_box .img_stad_squar .btn_stand{ text-align: center; }
.images_stand_box .img_stad_squar .btn_stand a{display: block;width: calc(50% - 20px);float: left;margin: 0 10px; }
.images_stand_box .img_stad_squar .btn_stand .button_red{background-color: #e01010;color: #fff;padding: 7px 16px;border-radius: 8px;text-decoration: none;border:1px solid transparent;}
.images_stand_box .img_stad_squar .btn_stand .button_red:hover,
.images_stand_box .img_stad_squar .btn_stand .button_red:focus{background-color:#fff;color: #e01010;text-decoration: none;border-color: #e01010;}
.images_stand_box .img_stad_squar .btn_stand .button_default{background-color:#27ae60;color:#fff;padding: 7px 16px;border-radius: 8px;text-decoration: none;border:1px solid transparent;}
.images_stand_box .img_stad_squar .btn_stand .button_default:hover,
.images_stand_box .img_stad_squar .btn_stand .button_default:focus{background-color:#fff;color: #27ae60;text-decoration: none;border-color:#27ae60;}
.images_stand_box .prd_img_content{ }

@media screen and (max-width: 767px){
	.images_stand_box .img_stad_squar{ float: none;margin-right:0;margin-bottom: 30px; }
	.images_stand_box .img_stad_squar img{ margin: 0 auto 20px;display: block; max-width: 100%; float: none; }
}
@media screen and (max-width:360px){
	.images_stand_box .img_stad_squar .btn_stand a{margin: 0 5px; width: calc(50% - 10px);}
}
/*prd images End ====*/